/*
  0 - 576px:       Phone
  576 - 768px:     Tablet portrait
  768 - 992px:     Tablet landscape
  992 - 1200px:    Mini Desktop
  1200 - 1920px:   Normal styles apply
  1920px +:        Big desktop

  $breakpoint arguement choices:
    - Phone - breakpoint-xs
    - tab-port - breakpoint-sm
    - tab-land - breakpoint-md
    - normal-style - breakpoint-lg
    - big-desktop - breakpoint-xl

  1em = 16px
*/

html
  //This defines what 1rem is
  font-size 62.5% // 1rem = 10px, 10/16 = 62.5%

  @media (min-width $breakpoint-xl)
    font-size 75% // 1rem = 11.2px, 122/16 = 75%

  @media (max-width $breakpoint-md)
    font-size 59% // 1rem = 9.44px, 9.44/16 = 59%

  @media (max-width $breakpoint-sm)
    font-size 57% // 1rem = 9.12px, 9.12/16 = 57%

  @media (max-width $breakpoint-xs)
    font-size 55% // 1rem = 8.8px, 8.8/16 = 55%

html
  color var(--text-dark) !important
  background-color var(--bg-dark) !important
  body
    color var(--text-dark) !important
    background-color var(--bg-dark) !important

// Set Colors
:root
  // Light
  --border $border
  --text-dark $text-dark
  --text-light $text-light
  --bg-dark $bg-dark
  --bg-light $bg-light
  // Dark
  --dark-border $dark-border
  --dark-text-dark $dark-text-dark
  --dark-text-light $dark-text-light
  --dark-bg-dark $dark-bg-dark
  --dark-bg-light $dark-bg-light

.n-border
  color var(--text-dark)
.n-text-dark
  color var(--text-dark)
.n-text-light
  color var(--text-light)
.n-bg-dark
  background var(--bg-dark)
.n-bg-light
  background var(--bg-light)

// Settings
ion-icon
  display block !important

.q-tab__indicator
  height 4px

.q-dialog__inner--right
  padding 0 !important

.q-menu
  border-radius 5px !important
  border 1px solid var(--border) !important
  box-shadow 0px 0px 15px rgba(#000, 0.2) !important
body.body--dark .q-menu
  box-shadow 0px 2px 15px rgba(#000, 0.5) !important

.n-menu-shadow
  box-shadow 0px 0px 15px rgba(#000, 0.2) !important
body.body--dark .n-menu-shadow
  box-shadow 0px 2px 15px rgba(#000, 0.5) !important
